
@{
    Layout = null;
    if (Session["email"] == null)
    {
        Response.Redirect("~/");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Session["name"]
    </div>
</body>
</html>
